.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--enmWhiteDark);
}

.contentWrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

.pageHeader {
  background-color: var(--enmWhiteDark);
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--enmGrayLight);
}

.pageHeader h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: normal;
  color: var(--enmGrayDark);
}

.pageContent {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}

.header h2,
h3 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: normal;
  margin-bottom: 1rem;
  color: #444;
}

.header h3 {
  font-size: 1.4rem;
}

.header p {
  margin-bottom: 1rem;
  color: var(--enmGrayDark);
  line-height: 1.5;
}

.adminSubjects {
  /* margin: 2rem; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  /* grid-template-columns: repeat(auto-fit); */
  gap: 1.5rem;
}

.downloadYamlButton {
  margin: 1rem 0;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
.downloadYamlButton:hover {
  opacity: 0.9;
}

.footer {
  border-top: 1px solid var(--enmGrayLight);
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
  color: var(--enmGrayDark);
}
