.subjectCard {
  background-color: #fff;
  color: var(--enmGrayDark);
  border: 1px solid var(--enmGrayLight);
  border-top: 4px solid #888;
  border-radius: 8px;
  padding: 0 1rem;
  margin-top: 1.5rem;
}

.subjectCard ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.subjectCard li {
  margin-bottom: 0.5rem;
}
