.subjectCard {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: var(--enmGrayDark);
  border: 1px solid var(--enmGrayLight);
  border-top: 4px solid #888;
  border-radius: 8px;
  padding: 0 1rem;
  margin-top: 1.5rem;
}

.subjectCardSingle {
  margin-bottom: 1.5rem;
}

.cardContent {
  flex: 1;
}

.subjectCard ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.subjectCard li {
  margin-bottom: 0.5rem;
}

/* Status bar */
.statusBar {
  margin: 0rem -1rem -1rem -1rem;
  padding: 0.5rem 1rem;
  border-top: 1px solid var(--enmGrayLight);
  font-size: 0.9rem;
  text-align: right;
  border-radius: 0 0 8px 8px;
  color: white;
}

.statusActive {
  background-color: #5cb85c;
}

.statusDeleted {
  background-color: red;
}
